:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  max-width: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "he he"
    "as na"
    "as ma";
  grid-template-columns: 63px 1fr;
  grid-template-rows: 69px 60px 1fr;
}
body > header {
  grid-area: he;
}
body > header > section {
  display: flex;
  align-items: center;
}

body > aside {
  grid-area: as;
  background-color: yellow;
}
body > nav {
  grid-area: na;
  background-color: green;
}

body > main {
  grid-area: ma;
  background-color: #e9ebee;
}
/*---------------------------------*/
/* GENERICI */

.singup-button {
  display: flex;
  align-items: center;
  border: 3px solid green;
  background-color: white;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
}
.singin-button {
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: white;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
}
.view-button {
  display: flex;
  align-items: center;
  border: 2px solid green;
  background-color: white;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
}
/*---------------------------------*/

/*---------------------------------*/
/* HEADER */
/*---------------------------------*/

body > header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  gap: 1.5rem;
}
.logo-section,
.login-section {
  gap: 1.5rem;
}
.search-bar > input {
  height: 30px;
  border: 1px solid lightgray;
  background-color: #fff;
  border-right: none;
  padding: 0 1rem;
  font-size: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 30vw;
}
.search-bar > button {
  height: 30px;
  border: 1px solid lightgray;
  background-color: #fff;
  border-left: none;
  padding: 0.25rem 0.75rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.search-bar > button > img {
  height: 100%;
}

/*---------------------------------*/
/*  Main */
/*---------------------------------*/

body > main {
  overflow: auto;
}
.single-video > figure {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2rem;
  background-color: #f4f5f8;
  border-bottom: 2px solid red;
}
.s-caption-container {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
.s-text > strong {
  font-size: 2rem;
}
.s-text:nth-child(1) {
  padding-bottom: 0.5rem;
}
.s-text > .channel {
  padding-top: 0.5rem;
}
.s-image-container > img {
  height: 250px;
  width: 450px;
  border-radius: 2rem;
  border: 2px solid red;
}
.s-profile-picture > img {
  border-radius: 50%;
}
/*---------------------------------*/
/* MEDIA QUERIES*/
/*---------------------------------*/
/* Tablet */

@media (max-width: 960px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "he"
      "na"
      "ma";
  }
  body > aside {
    display: none;
  }
  .search-bar > input {
    display: none;
  }
  .search-bar > button {
    background-color: transparent;
    padding: 0.25rem;
    border: none;
  }
  .search-bar {
    margin-left: auto;
  }
}
/* Mobile */
@media (max-width: 740px) {
  .search-bar > input {
    display: none;
  }
  .search-bar > button {
    background-color: transparent;
    padding: 0.25rem;
    border: none;
  }
  .search-bar {
    margin-left: auto;
  }
  .single-video > figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 2rem;
  }
  .s-text:nth-child(1) {
    padding-bottom: none;
  }
  .s-text > .channel {
    padding-top: none;
  }
}
